
@font-face {
  font-family: 'Assi';
  src: url('../fonts/Assistant-Regular.ttf');
}

@font-face {
  font-family: 'AssiBold';
  src: url('../fonts/Assistant-Bold.ttf');
}

@font-face {
  font-family: 'Philo';
  src: url('../fonts/Philosopher-Regular.ttf');
}

.ScriptName {
    font-family: 'Philo';
    float:left;
    font-size: 32px;
    padding-top: .05in;
    padding-left: .1in;
    color:maroon;
      position: relative;
  bottom:5px;
  
}

.ScriptNameBottom {
    font-family: 'Philo';
    font-size: 30px;
    float: center;
    color:maroon;
    text-align: center;
          position: relative;
  bottom:-15px;

         border:0px solid red;
  
}

.Author {
    font-family: 'Philo';
    float:left;
    padding-left: .2in;
    padding-top: .18in;
    font-size: 15px;
    color:maroon;
    position: relative;
    bottom:2px;
  
}

.HeaderRow {
  width: 100%;
  padding-bottom: 0px;
  clear:both;
  
}

.bootleggerPage1Image{
  display: flex;
  align-items: left; 
  position: relative;
  top:14px;
  width:80px;
  height:80px;
  border:1px solid clear;
}

.bootleggerPage1Div{
    position: relative;
  bottom:30px;
  clear:both;
  border:1px solid clear;
    margin: -50px 0px -80px 0px;
}

.bootleggerPage1Row{
  display: flex;
  flex-direction: row;
  align-items: center;   /* vertical alignment */
  border:1px solid clear;
  position: relative;
  bottom:44px;
  width:90%;
  margin: -20px 0px -25px 0px;
}

.divRow {
  width: 100%;
  clear:both;
  padding-top: 0in;
  padding-bottom: 0in;
  position: relative;
  bottom:15px;
  height:25px;
       border:0px solid green;
       grid-column: span 2
       
}

.divider {
  position: relative; 
  top:20px;
  clear: both;
}

.divPng {
  height: 1px;
  width:84%;
  padding-left:13px;
}

.page1main{
  width:100%;
  border:0px solid red;
  align-items: stretch;
  height:var(--page1height);

padding-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1fr);

}

.page2main{
 height:10.5in;
  border:0px solid red;
  position:relative;
}

.page1header{
border:0px solid red;
}

.TypeHeader {
  font-family: 'Philo';
  float:right;
  padding-right: 0.2in;
  position: relative; 
  top: 14px; 
  height:1px;
    font-size: 3.5mm;
    color:black;
           border:0px solid red;
}

.print-page {
  width: 8.5in;
  min-height: 11in;
  padding: 0.1in;
  margin: 0 auto;
  background: white;
  box-sizing: border-box;
  clear:both;

  /* Force new page when printing */
  page-break-before: always; /* For older browsers */
  break-before: page;        /* Modern standard */

}

.page1{
  display: flex;
  flex-direction: column;
  height: 10.8in;
  position: relative;
  align-items: stretch;
}

/* Screen preview styling */
.body {
  background: #c2c2c2;
}



.row {
  padding-top: 2px;
  border:0px solid blue;  
  max-height: 80px;
  min-height: 40px;
    margin: -10px 0px -10px 0px;

}

.charname {
  font-family:'AssiBold';
  float:left;
  font-size: 3.5mm;
  font-weight: 900;
  align-items: center;
  gap: 1mm;
  padding-top: 0px;
  padding-left: 37px;
  padding-right:3px;
}

.charability {
  font-family:'Assi';
  float:right;
  width:82%;
  font-size: 3.4mm;
  line-height: 1.2;
  margin: 0;
  padding-left: 37px;
  align-items: right;
}

.charnamerow{
  display:flex; 
  flex-direction: row; 
  align-items: center;
}

.chartextrow{
  display: flex;
  flex-direction: column;   /* stack vertically */
  justify-content: center;  /* vertical centering */
  min-height: 60px;            /* required for vertical centering */

  
}

.charImageContainer {
  float: left;
  align-items: left;
  width:8%;
  position: relative; 
  left: -3px;

}
.charImage {
  max-height:76px;
  margin: -10px 0px -10px 0px;
}

.charImageContainerBottom {
  display: flex;
  flex-direction: row;
  width:100%;
  position: relative; 
  bottom: 0px;
  left: 0px;
  border:0px solid red;

  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}

.charImageBottom {
  height:30px;
  width:30px;
  margin: 0px -8.5px -20px 0px;
  filter: grayscale(100%);
}

.imagenpc {
  float: right;
  align-items: center;
  position: relative; 
  bottom: 0px;
  height:40px;  
}

.textnpc{
  font-family:'Assi';
  font-size:3mm;
  font-weight: 500;
  float: right;
  align-items: center;
  position: relative; 
  top:0px
}

.textnpc2{
  font-family:'Philo';
  font-size:4mm;
  float: right;
  align-items: center;
  position: relative; 
  bottom:5px
}

.textbootlegger{
  font-family:'Assi';
  font-size:3.4mm;
  float: right;
  align-items: center;
  position: relative; 
  left:10px;
}

.jinxIcon{
  float: left;
  height:35px; 
  position: relative; 
  bottom:0px;
         border:0px solid red;
         margin: -10px 0px -10px 0px;
}

.jinxIcon2{
  float: left;
  height:50px; 
  position: relative; 
  bottom:-10px;
         border:0px solid red;
         margin: 0px -10px 0px 0px;
}

.nightOrder{
  width: 75px;
  padding-top:15px;
  display: flex;
  flex-direction: column;   /* stack vertically */
}

.nightIcon{
  height:60px;
  margin: -9px 0px -9px 0px;
  padding-left: 5px;
  padding-right: 5px; 
}

.nightText{
  font-family:'Philo';
  font-size:6mm;
  width: 190px;
  display: inline-block;   /* required so transform works properly */
  transform: rotate(90deg);

    position: relative; 
  bottom:-62px;
  right:58px;
  color:black;
  border:0px solid red;
}

.npcRow{
  display: flex;
  flex-direction: row;
    position: relative; 
  bottom:-10px;
  margin: -10px 0px -5px 0px;
}

.jinxTitle {
  font-family:'Philo';
  float:left;
  font-size: 4mm;
  position: relative; 
  bottom:-20px;
}

.npcName {
  font-family:'Philo';
  float:left;
  font-size:4mm;
  position: relative; 
  bottom:-15px;
}

.npcAbility {
    font-family:'Assi';
  float:right;
  font-size: 3.4mm;
  line-height: 1.2;
  align-items: right;
      position: relative; 
  bottom:-3px;
}

.jinxRow {
  display: flex;
  flex-direction: row;
  align-items: center;   /* vertical alignment */
  min-height: 50px;
      position: relative; 
  bottom:10px;
}

.jinxReason {
  font-family:'Assi';
  font-size: 3.4mm;
  padding-left: 15px;
    position: relative; 
  bottom:-10px;

}

.bootleggerRow {
  display: flex;
  flex-direction: row;
  align-items: center;   /* vertical alignment */
  border:0px solid red;
  margin: -20px 0px -25px 0px;
}

.bootleggerRule {
  font-family:'Assi';
  font-size: 3.4mm;
  padding-left: 15px;


}


.divRowPage2 {
   margin: 0 auto;
  width: 75%;
  height: 20px;
  
  border:0px solid red;
  
  position: relative; 
  bottom:-10px;


}


.divPngPage2 {
  width:100%;
  height:1px;
}

.HeaderPage2 {
  font-family: 'Philo';
  width:140px;
  position: relative; 
  top: -10px;
  right: 10px;
  font-size: 5mm;
  color:black;
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;  /* horizontal */
  border:0px solid red;

}


.playerCountContainer{
  position: absolute;
  bottom:60px;
  left:80px;

    
}
.playerCountImage{
  width:620px;
  position: absolute; 
  bottom: 0;
  left:10px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
    border:0px solid red;
  
}

.footerText{
  font-family:'Assi';
  font-size: 3.4mm;
  padding-bottom:10px;
  
  color:rgb(99, 98, 98);

  position: relative; 
  bottom:-10px;
  padding-left: 15px;
  padding-right: 15px;

      border:0px solid red;

}

.footer2 {
  text-align: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
    position: absolute;
  bottom: -32px;
  left: 11px;
  height:30px;
  width:616px;
    border:1px solid rgb(167, 146, 119);
}



