@font-face {
  font-family: 'Assi';
  src: url('../fonts/Assistant-Regular.ttf');
}

@font-face {
  font-family: 'AssiBold';
  src: url('../fonts/Assistant-Bold.ttf');
}

@font-face {
  font-family: 'Philo';
  src: url('../fonts/Philosopher-Regular.ttf');
}


.container {
  margin-left: 0!important;
  margin-right: 0!important;
}

.ScriptName {
  font-family: 'Philo';
  float: left;
  font-size: 34px;
  padding-top: .05in;
  padding-left: .2in;
  position: relative;
  bottom: 10px;

    border: 0px solid red;

}

.ScriptNameBottom {
  font-family: 'Philo';
  font-size: 34px;
  float: center;
  text-align: center;
  position: relative;
  bottom: -5px;
  left: -5px;
  margin: 0px 0px 0px 0px;
  border: 0px solid red;

}


.Author {
  font-family: 'Philo';
  float: left;
  padding-left: .1in;
  font-size: 17px;
  position: relative;
  bottom:13px;
  display: flex;
  border: 0px solid red;

}

.AuthorText{
    align-self: flex-end;
    padding-bottom:5px;
}

.HeaderRow {
  width: 100%;
  padding-bottom: 0px;
  clear: both;


}

.bootleggerPage1Image {
  display: flex;
  align-items: left;
  position: relative;
  top: 5px;
  width: 80px;
  height: 80px;
  border: 1px solid clear;
}

.bootleggerPage1Div {
  position: relative;
  bottom: 30px;
  clear: both;
  border: 1px solid clear;
  margin: 0px 0px -60px 0px;

}

.bootleggerPage1Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* vertical alignment */
  border: 1px solid clear;
  position: relative;
  bottom:40px;
  width: 98%;
  margin: -20px 0px -10px 0px;
}

.divRow {
  width: 100%;
  clear: both;
  padding-top: 0in;
  padding-bottom: 0in;
  position: relative;
  bottom: 6px;
  height: 20px;
  border:0px solid green;
  grid-column: span 2;
  margin: -10px 0px -5px 0px;

}

.townsfolkRow {
  width: 100%;
  clear: both;
  padding-top: 0in;
  padding-bottom: 0in;
  position: relative;
  bottom: 15px;
  height: 20px;
  border:0px solid green;
  grid-column: span 2;
  margin: 0px 0px -15px 0px;

}

.divider {
  position: relative;
  top: 20px;
  clear: both;
}

.divPng {
  height: 1px;
  width: 90%;
  padding-left: 13px;
}

.page1main {
  width: 100%;
  border: 0px solid red;
  align-items: stretch;
  position:relative;
  left:15px;

  padding-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1fr);

}

.page2main {
  /* letter
  height: 11.2in;
  width: 6.2in;
  */
  height:10.8in;
  width:7in;
  padding-left: 90px;
  position: relative;
  left:20px;
}

.page1header {
  border: 0px solid red;
  margin: 0px 0px -20px 0px;
  position: relative;
}

.TypeHeader {
  font-family: 'Philo';
  float: right;
  padding-right: 0.2in;
  padding-left:0.15in;
  padding-top:10px;
  position: relative;
  top: 6px;
  left:-15px;
  height:30px;
  font-size: 3.5mm;
  color: black;
  background-color: white;
  border: 0px solid red;;
}

.print-page {
  /* letter
  width: 8.27in;
  min-height: 11.69in;
  */
  width:8.5in;
  min-height: 11in;
  padding: 0.1in;
  margin: 0 auto;
  background: white;
  box-sizing: border-box;
  clear: both;

  /* Force new page when printing */
  page-break-before: always;
  /* For older browsers */
  break-before: page;
  /* Modern standard */

}


.page1 {
  display: flex;
  flex-direction: column;

  /* letter
  height: 11.5in;
  */
  height: 11in;
  position: relative;
  align-items: stretch;
}

/* Screen preview styling */
.body {
  background: rgb(198, 198, 198);
  min-height: 100vh;
  height: 100%;
  min-width: 100vh;
  width:100%;
  padding: 2vh;
}



.charRow {
  padding-top: 2px;
  border: 0px solid blue;
  max-height: 80px;
  min-height: 70px;
  margin: -3px 0px -13px 0px;
  

}

.charname {
  font-family: 'AssiBold';
  float: left;
  font-size: 3.2mm;
  font-weight: 900;
  align-items: center;
  gap: 0mm;
  padding-top: 0px;
  padding-left: 37px;
  padding-right: 3px;
    position: relative;
  bottom:-1px;
}


.charability {
  font-family: 'Assi';
  float: right;
  width: 83%;
  font-size: 3.2mm;
  line-height: 1.2;
  margin: 0;
  padding-left: 37px;
  align-items: right;

    border:0px solid green;
}

.charnamerow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chartextrow {
  display: flex;
  flex-direction: column;
  /* stack vertically */
  justify-content: center;
  /* vertical centering */
  min-height: 60px;
  /* required for vertical centering */


}

.charImageContainer {
  float: left;
  align-items: left;
  width: 8%;
  position: relative;
  left: -3px;
  top: 5px;
}

.charImage {
  max-height: 74px;
  margin: -10px 0px -10px 0px;

}

.charImageContainerBottom {
  display: flex;
  flex-direction: row;
  width:610px;
  position: relative;
  bottom: 3px;
  left: 0px;
  border: 0px solid red;

  justify-content: center;
  /* horizontal */
  align-items: center;
  /* vertical */
}

.charImageBottom {
  height: 28px;
  width: 28px;
  margin: 0px -7px -20px 0px;
  filter: grayscale(0%);
    position: relative;
  bottom: -2px;
}

.imagenpc {
  float: right;
  align-items: center;
  position: relative;
  bottom: 0px;
  height: 40px;
}

.npcNamePage1 {
  font-family: 'Assi';
  font-size: 3.2mm;
  font-weight: 500;
  float: right;
  align-items: center;
  position: relative;
  top: 10px;
  padding-right:8px;
}

.textnpc2 {
  font-family: 'Philo';
  font-size: 4mm;
  float: right;
  align-items: center;
  position: relative;
  bottom: 5px
}

.textbootlegger {
  font-family: 'Assi';
  font-size: 3.4mm;
  float: right;
  align-items: center;
  position: relative;
  left: 10px;
}

.jinxIcon {
  float: left;
  height: 35px;
  position: relative;
  bottom: -2px;
  border: 0px solid red;
  margin: -10px 0px -10px 0px;
}

.jinxIcon2 {
  float: left;
  height: 40px;
  position: relative;
  bottom: -10px;
  border: 0px solid red;
  margin: 0px -5px 0px 0px;
}

.nightOrderFirst {
  width: 75px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  /* stack vertically */
}

.nightOrderOther {
  width: 75px;
  height:11in;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  

}

.nightIcon {
  height: 60px;
  margin: -9px 0px -9px 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.firstnightText {
  font-family: 'Philo';
  width: 190px;
  display: inline-block;
  /* required so transform works properly */
  transform: rotate(90deg);

  position: relative;
  bottom: -80px;
  right: 58px;
  color: black;
  border: 0px solid red;
}

.othernightText {
  font-family: 'Philo';
  width: 190px;
  display: inline-block;
  /* required so transform works properly */
  transform: rotate(90deg);

  position: relative;
  bottom: -80px;
  right: 58px;
  color: black;
  border: 0px solid red;
}

.npcRow {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: -10px;
  margin: -10px 0px -10px 0px;
}

.jinxTitle {
  font-family: 'Philo';
  float: left;
  font-size: 4mm;
  position: relative;
  bottom: -20px;
}

.npcName {
  font-family: 'Philo';
  float: left;
  font-size: 4mm;
  position: relative;
  bottom: -5px;
}

.npcAbility {
  font-family: 'Assi';
  float: right;
  font-size: 3.4mm;
  line-height: 1.2;
  align-items: right;
  position: relative;
  bottom: -3px;
}

.jinxRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* vertical alignment */
  height: 50px;
  position: relative;
  bottom: 4px;
    margin: -5px 0px 0px 0px;
}

.jinxReason {
  font-family: 'Assi';
  font-size: 3.4mm;
  padding-left: 10px;
  position: relative;
  bottom: -20px;

}

.bootleggerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* vertical alignment */
  border: 0px solid red;
  margin: -20px 0px -15px 0px;
}

.bootleggerRule {
  font-family: 'Assi';
  font-size: 3.4mm;
  padding-left: 10px;

}


.divRowPage2 {
  margin: 0 auto;
  width: 98%;
  height: 40px;

  border: 0px solid red;

  position: relative;
  bottom: 0px;
  left: 15px;

}


.divPngPage2 {
  width: 100%;
  height: 1px;
  
}

.HeaderPage2 {
  font-family: 'Philo';
  width: 140px;
  position: relative;
  top: -17px;
  right: 10px;
  font-size: 5mm;
  color: black;
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* horizontal */
  border: 0px solid red;

}


.playerCountContainer {
  position: absolute;
  bottom:50px;
  left: 70px;


}

.playerCountImage {
  width: 620px;
  position: absolute;
  bottom: 0;
  left: 0px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 0px solid red;

}

.footerText {
  font-family: 'Assi';
  font-size: 3.4mm;
  padding-bottom: 10px;

  color: rgb(99, 98, 98);

  position: relative;
  bottom: -28px;
  padding-left: 15px;
  padding-right: 15px;

  border: 0px solid red;

}

.footer2 {
  text-align: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: -28px;
  left: 1px;
  height: 32px;
  width: 619px;
  border: 4px solid rgba(201, 192, 184);
}